
    <h1>Search with Rango</h1>
    <br/>

    <div class="container-fluid">
        <form class="form-signin span12" id="user_form" method="post" action="/DjangoTest/category/{{ category_name }}/">
            {% csrf_token %}
            <!-- Display the search form elements here -->
            <input type="text" size="50" name="query" value="" id="query" />
            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
            <br />
        </form>

        {% if result_list %}
        <!-- Display search results in an ordered list -->
        <div class="span12">
            <ol>
                {% for result in result_list %}
                <li>
                    <strong><a href="{{ result.link }}">{{ result.title }}</a></strong><br />
                    <p>{{ result.summary }}</p>
                </li>
                {% endfor %}
            </ol>
        </div>
    {% else %}
        <br/>
        <p>No results found</p>
    {% endif %}
    </div>